node_modules
.next

.next/app-build-manifest.json
.next/build-manifest.json
.next/react-loadable-manifest.json
.next/trace
.next/cache/webpack/client-development/0.pack.gz
.next/cache/webpack/client-development/1.pack.gz
.next/cache/webpack/client-development/2.pack.gz
.next/cache/webpack/client-development/3.pack.gz
.next/cache/webpack/client-development/4.pack.gz
.next/cache/webpack/client-development/index.pack.gz
.next/cache/webpack/client-development/index.pack.gz.old
.next/cache/webpack/client-development-fallback/0.pack.gz
.next/cache/webpack/client-development-fallback/index.pack.gz
.next/cache/webpack/client-development-fallback/index.pack.gz.old
.next/cache/webpack/server-development/0.pack.gz
.next/cache/webpack/server-development/1.pack.gz
.next/cache/webpack/server-development/2.pack.gz
.next/cache/webpack/server-development/3.pack.gz
.next/cache/webpack/server-development/index.pack.gz
.next/cache/webpack/server-development/index.pack.gz.old
.next/server/app-paths-manifest.json
.next/server/interception-route-rewrite-manifest.js
.next/server/middleware-build-manifest.js
.next/server/middleware-manifest.json
.next/server/middleware-react-loadable-manifest.js
.next/server/pages-manifest.json
.next/static/chunks/polyfills.js
.next/static/development/_buildManifest.js
