---
---

<header class="fixed top-0 left-0 w-full bg-white shadow-md z-50 border-b-[3px] border-orange-peel">
    <nav class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between items-center h-16">
            <div class="flex-shrink-0">
                <img class="h-10 w-auto" src="https://ik.imagekit.io/studytomy/minimal%20primary%20logo%20mini.png?updatedAt=1732362156819" alt="StudyToMy Logo">
            </div>
            <div class="hidden sm:block">
                <div class="flex space-x-8">
                    <a href="/" class="text-prussian-blue hover:text-orange-peel px-3 py-2 text-lg font-semibold transition-colors duration-200 relative group">
                        Home
                        <span class="absolute bottom-0 left-0 w-full h-0.5 bg-orange-peel transform scale-x-0 transition-transform duration-200 group-hover:scale-x-100"></span>
                    </a>
                    <a href="/guide" class="text-prussian-blue hover:text-orange-peel px-3 py-2 text-lg font-semibold transition-colors duration-200 relative group">
                        Guide
                        <span class="absolute bottom-0 left-0 w-full h-0.5 bg-orange-peel transform scale-x-0 transition-transform duration-200 group-hover:scale-x-100"></span>
                    </a>
                    <a href="/docs" class="text-prussian-blue hover:text-orange-peel px-3 py-2 text-lg font-semibold transition-colors duration-200 relative group">
                        Documentation
                        <span class="absolute bottom-0 left-0 w-full h-0.5 bg-orange-peel transform scale-x-0 transition-transform duration-200 group-hover:scale-x-100"></span>
                    </a>
                    <a href="/community" class="text-prussian-blue hover:text-orange-peel px-3 py-2 text-lg font-semibold transition-colors duration-200 relative group">
                        Community
                        <span class="absolute bottom-0 left-0 w-full h-0.5 bg-orange-peel transform scale-x-0 transition-transform duration-200 group-hover:scale-x-100"></span>
                    </a>
                </div>
            </div>
            <div class="sm:hidden">
                <button type="button" class="text-prussian-blue hover:text-orange-peel">
                    <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                    </svg>
                </button>
            </div>
        </div>
    </nav>
</header>
